---
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Home - Yusuf Djonga ESQ">
  <section
    class="relative h-[80vh] flex items-center justify-center bg-primary-gold bg-[url('/hero.jpg')] bg-cover bg-center"
  >
    <div class="text-center text-gray-dark">
      <h1 class="text-5xl font-bold">Welcome to Our Site</h1>
      <p class="mt-4 text-lg">We build amazing things.</p>
    </div>
  </section>

  <!-- Hero or header section -->
  <section
    class="relative overflow-hidden bg-primary-blue py-6 sm:py-10 md:py-8"
  >
    <!-- Grid container -->
    <div
      class="grid grid-cols-1 gap-4 lg:grid-cols-3 lg:gap-6 h-full mx-auto border border-amber-300 rounded-lg mt-14 md:mt-12"
    >
      <div class="col-span-2 bg-amber-600">01</div>
      <div class="bg-accent-green w-full">09</div>
    </div>
  </section>
</Layout>
