---
const { item } = Astro.props;
---

<!-- Icon Block -->
<div
  class="group flex flex-col justify-center bg-gray-light hover:border hover:border-amber-500 hover:shadow-2xl hover:bg-gray-50 focus:outline-hidden focus:bg-gray-50 rounded-xl p-4 md:p-7 dark:hover:bg-neutral-800 dark:focus:bg-neutral-800 transition-all duration-300"
>
  <div
    class="relative flex justify-center items-center size-12 bg-primary-gold group-hover:bg-primary-blue rounded-xl before:absolute before:-inset-px before:-z-1 before:bg-linear-to-br before:from-[var(--color-primary-blue)] before:via-transparent before:to-[var(--color-primary-gold)] before:rounded-xl dark:bg-neutral-900"
  >
    <img src={item.image} alt={item.title} class="h-6 w-6" />
  </div>
  <div class="mt-5">
    <h3 class="text-lg font-semibold text-gray-800 dark:text-white">
      {item.title}
    </h3>
    <p class="mt-1 text-gray-600 line-clamp-2 dark:text-neutral-400">
      {item.description}
    </p>

    <a
      class="mt-2 inline-flex items-center gap-x-1.5 text-sm text-blue-600 decoration-2 group-hover:underline group-focus:underline font-medium"
      href="#"
    >
      Learn more
      <svg
        class="shrink-0 size-4"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"><path d="m9 18 6-6-6-6"></path></svg
      >
    </a>
  </div>
</div>
<!-- End Icon Block -->
